{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

#battery charge limit
echo 80 | sudo tee /sys/class/power_supply/macsmc-battery/charge_control_end_threshold

sudo dnf install -y dnf5

sudo dnf5 install -y firefox

# korean support
sudo dnf5 install -y fcitx5 fcitx5-hangul
sudo dnf5 install -y glibc-langpack-ko
localectl set-locale LANG-ko_KR.UTF-8

#asdf
git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.14.1

#lazygit
sudo dnf copr enable atim/lazygit -y
sudo dnf5 install -y lazygit

sudo dnf copr enable wezfurlong/wezterm-nightly
sudo dnf5 install -y wezterm

sudo dnf copr enable agriffis/neovim-nightly
sudo dnf5 install -y neovim

#rust install
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
echo 'export PATH="$HOME/.cargo/bin:$PATH"' >> ~/.bashrc 
source ~/.bashrc
sudo dnf5 install -y openssl-devel pkg-config
cargo install nu

sudo dnf copr enable atim/starship
sudo dnf5 install -y starship
sudo dnf copr enable atim/zoxide
sudo dnf5 install -y zoxide

#flatpak
sudo dnf5 install -y flatpak
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

# floorp
flatpak install -y flathub one.ablaze.floorp

# armcord
flatpak install -y flathub xyz.armcord.ArmCord

#obsidian
flatpak install -y flathub md.obsidian.Obsidian

#spotify
sudo dnf5 install -y alsa-lib-devel
cargo install spotifyd --locked

#bat
sudo dnf5 install -y bat
#exa
sudo dnf5 install -y eza

#elixir
sudo dnf5 install -y erlang
sudo dnf5 install -y elixir
#asdf plugin-add erlang 
#asdf install erlang latest
#asdf global-erlang latest
#asdf plugin add elixir 
#asdf install elixir latest 
#asdf global elixir latest

#nodejs
asdf plugin-add nodejs
asdf install nodejs latest
asdf global nodejs latest

#lastpass
sudo dnf5 install -y lastpass-cli

#awscli
sudo dnf5 install -y awscli

#lpass
sudo dnf5 install -y lastpass-cli


{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

#asdf
git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.14.1

#nodejs
asdf plugin-add nodejs
asdf install nodejs latest
asdf global nodejs latest

brew update
brew install awscli
brew install lastpass-cli
{{ end -}}
