#!/bin/sh
{{ if eq .chezmoi.os "linux" -}}
#fonts
sudo cp -r {{ .chezmoi.homeDir }}/.config/fonts/ /usr/local/share/
sudo fc-cache -v
{{ else if eq .chezmoi.os "darwin" -}}
brew bundle install
{{ end -}}
