{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

#battery charge limit
echo 80 | sudo tee /sys/class/power_supply/macsmc-battery/charge_control_end_threshold

sudo dnf install -y firefox

# korean support
sudo dnf install -y fcitx5 fcitx5-hangul
sudo dnf install -y glibc-langpack-ko
localectl set-locale LANG-ko_KR.UTF-8

#asdf
git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.14.0

#lazygit
sudo dnf copr enable atim/lazygit -y
sudo dnf install -y lazygit

sudo dnf copr enable wezfurlong/wezterm-nightly
sudo dnf install -y wezterm

sudo dnf copr enable agriffis/neovim-nightly
sudo dnf install -y neovim

#rust install
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
echo 'export PATH="$HOME/.cargo/bin:$PATH"' >> ~/.zshrc
source ~/.zshrc
sudo dnf install -y openssl-devel pkg-config
cargo install nu

sudo dnf copr enable atim/starship
sudo dnf install -y starship
sudo dnf copr enable atim/zoxide
sudo dnf install -y zoxide

#flatpak
sudo dnf install -y flatpak
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

# floorp
flatpak install -y flathub one.ablaze.floorp

# armcord
flatpak install -y flathub xyz.armcord.ArmCord

#obsidian
flatpak install -y flathub md.obsidian.Obsidian

#spotify
sudo dnf install -y alsa-lib-devel
cargo install spotifyd --locked

#bat
sudo dnf install -y bat
#exa
sudo dnf install -y eza



#awscli
sudo dnf install -y awscli
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install awscli
{{ end -}}
